extends layout
block append content 
    .textBox.blurBackground
        h3 Feel free to reach out to me! 
        ul 
            li 
                a(href="https://www.linkedin.com/in/derek-frahm-988538145/")  LinkedIn 
            li 
                a(href="https://bitbucket.org/BigHeadTodd/")  Bitbucket Repo
            li Email: DerekFrahm@gmail.com