html, body {
    height: auto;
    min-height: 100vh;
}

body {
    --textColor: antiquewhite;
    --font-family: "Arial";
    --chSize: 12vh;
    font-family: var(--font-family);
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(1, 3, 26);
    color: var(--textColor);

    background-image: url(/images/midground.png), url(/images/c&h.png), url(/images/grass.svg), url(/images/space.jpg);
    background-size: auto, var(--chSize), cover, cover;
    background-position: bottom center, bottom center, bottom center, bottom center;
    background-repeat: repeat, no-repeat, no-repeat, repeat;
    z-index: 1;

    animation-name: STAR-MOVE;
    animation-duration: 650s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	-webkit-animation-name: STAR-MOVE;
	-webkit-animation-duration: 650s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}

header {
    display: grid;
    padding: .75em;
    border-bottom: solid rgb(46, 46, 46);
}

header h1 {
    font-family: Big Caslon;
    margin: auto auto auto .5em;
    grid-row: 1;
    grid-column: 1;
}

nav {
    margin: auto 1em auto auto;
    grid-row: 1;
    grid-column: 2;
}
a {
    color: var(--headerColor);
}

header a {
    text-decoration: none;
    font-size: large;
    font-weight: 600;
    margin: auto .5em;
}

header a:hover {
    filter: brightness(50%);
}

.active {
    border-bottom: solid var(--textColor);
}

#content {
    margin: 3vh 2vw calc(var(--chSize) + 8vh);
    flex: 1 0 auto;
}

.blurBackground {
    background-color: rgba(80, 80, 80, 0.3);
	-webkit-backdrop-filter: blur(3px);
	backdrop-filter: blur(3px);
}

.textBox {
    padding: 1vh 1vw;
    width: 70vw;
    margin: auto;
    line-height: 1.8em;
}

@keyframes STAR-MOVE {
	from {
		background-position: 5% 5%, bottom, bottom, bottom
	}
	to { 
		background-position: 1300% 600%, bottom, bottom, bottom
	}
}

@-webkit-keyframes STAR-MOVE {
	from {
		background-position: 5% 5%, bottom, bottom, bottom
	}
	to { 
		background-position: 1300% 600%, bottom, bottom, bottom
	}
}